@page "/register"
@rendermode InteractiveServer

<div class="container">
    <h3>Registration</h3>
    
    <Form>
        <label> Name:</label>
        <input type="text" required/>
        
        <label> Email:</label>
        <input type="email" required/>
        
        <label> Password:</label>
        <input type="password" required/>
        
        <buton type="submit"> Register </buton>
        
    </Form>
</div>

@code {
    
}